<!doctype html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Autorizações</title>
<!-- CSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />
<!-- SCRIPTS -->
<script defer src="https://kit.fontawesome.com/0a84b03181.js" /></script>
<!-- ICONE -->
<body>
<header class="cabecalho">
<nav class="menu">
    <ul class="ul1">
        <li><a class="logo" href="#">ELETROPOSTO</a></li>
        <li><a class="subt" href="#">Seu eletroposto</a></li>
    </ul>
    <ul class="ul2">
        <li><a class="item" href="/">Página Inicial</a></li>
        <li><a class="item" href="/sobre">Sobre</a></li>
        <li><a class="item" href="/agendar">Agendar</a></li>
		<li><a class="item" href="/agendamento/meus">Meus Agendamentos</a></li>
        <li><a class="item" href="/agendamentos">Agendamentos</a></li>
        <li><a class="item" href="/usuario/admin/all">Usuários</a></li>
    </ul>
    <ul class="ul3">
        <li sec:authorize="!isAuthenticated()"><a class="btn" href="/usuario/add">Registrar</a></li>
        <li sec:authorize="!isAuthenticated()"><a class="btn lgn" href="/login">Logar</a></li>
        <li sec:authorize="isAuthenticated()"><a class="btn lgn" onclick="document.querySelector('#formLogout').submit()" href="#">Deslogar</a></li>
    </ul>
</nav>
</header>
	<main class="principal">
		<div class="container formulario">
			<h1>Autorizações</h1>
			<form class="form"
				th:action="@{/usuario/admin/editPapel/{id} (id=${usuario.id})}"
				th:object="${usuario}" method="post">
				<label for="username">Username: </label><input class="campo"
					id="username" type="text" th:field="*{username}" disabled/>

				<div class="papelcheckbox">
					<div>
						<label>Ativo:</label>
						<div>
							<input class="form-check-input" type="radio" value="true"
								id="verdadeiro" th:field="*{ativo}"> <label
								for="verdadeiro"><span class="verde"> Ativo</span></label>
						</div>
						<div>
							<input type="radio" value="false" id="falso" th:field="*{ativo}">
							<label for="falso"><span class="rosa">Não ativo</span></label>
						</div>
					</div>

					<div>
						<label>Autorizações: </label>
						<th:block th:each="pp : ${listaPapeis}">
							<div class="azul" th:if="${#lists.contains(usuario.papeis, pp)}">
								<input type="checkbox" name="pps" th:value="${pp.id}" checked />
								<label th:text="${pp.papel}"></label>
							</div>
							<div class="azul" th:unless="${#lists.contains(usuario.papeis, pp)}">
								<input type="checkbox" name="pps" th:value="${pp.id}" /> <label
									th:text="${pp.papel}"></label>
							</div>
						</th:block>
					</div>
					</div>
					<div class="avisoregistrado" th:if="${mensagem}">
						<span th:text="${mensagem}"></span>
					</div>

					<div class="InputBtns">
						<input class="botao" type="submit" value="Entrar" /> <input
							class="botao reset" type="reset" value="Limpar" />
					</div>
			</form>

		</div>
	</main>
	<footer class="rodape">
		<div class="rodape-conteudo">
			<div class="endereco">
				<h2>
					<i class="fa-solid fa-location-pin"></i> Av. Roraima. Camobi. Santa
					Maria, RS
				</h2>
				<h3>
					<i class="fa-solid fa-phone"></i> (55) 55 3555 555
				</h3>
			</div>
			<div class="links">
				<h1>Nos encontre também:</h1>
				<ul>
					<li><a href="#"><img class="social-media"
							src="/images/instagram.png" alt="Instagram"></a></li>
					<li><a href="#"><img class="social-media"
							src="/images/facebook.png" alt="Facebook"></a></li>
					<li><a href="#"><img class="social-media"
							src="/images/linkedin.png" alt="Linkedin"></a></li>
					<li><a href="#"><img class="social-media"
							src="/images/twitter.png" alt="Twitter"></a></li>
				</ul>
			</div>
		</div>
		<h2 class="cred">
			© Juliana Pienis Adams | Academia Java - ATOS/UFN 2022 | Icones por <a
				href="https://www.iconfinder.com/">IconFinder</a>.
		</h2>
	</footer>










</body>
<script src="https://kit.fontawesome.com/0a84b03181.js"
	crossorigin="anonymous"></script>
	<form class="invi" id="formLogout" th:action="@{/logout}" method="post"></form>
</html>